@import url("https://fonts.googleapis.com/css2?family=Quattrocento:wght@400;700&display=swap");

/* Clock container */
.clock-container {
  min-width: 320px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Quattrocento", serif;
}

/* Clock nums */
.clock {
  position: relative;
  width: 600px;
  height: 600px;
  color: white;
  font-size: 5rem;
  border-radius: 50%;
  background-color: rgb(0, 0, 0, 0.3);
  border: 15px solid #ddd;
  padding: 1rem;
}
.clock-nums {
  position: relative;
  height: 100%;
}
.num {
  --rotation: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  transform: rotate(var(--rotation));
  z-index: 1;
}
.num:nth-child(1) {
  --rotation: 30deg;
  font-size: 4rem;
}
.num:nth-child(2) {
  --rotation: 60deg;
  font-size: 4rem;
}

/* Num III */
.num:nth-child(3) {
  --rotation: 90deg;
}
.num:nth-child(3) .backward_III {
  display: inline-block;
  transform: rotate(90deg);
}

.num:nth-child(4) {
  --rotation: 120deg;
  font-size: 4rem;
}
.num:nth-child(5) {
  --rotation: 150deg;
  font-size: 4rem;
}

/* Num VI */
.num:nth-child(6) {
  --rotation: 180deg;
}
.num:nth-child(6) .backward_VI {
  display: inline-block;
  transform: rotate(180deg);
}

.num:nth-child(7) {
  --rotation: 210deg;
  font-size: 4rem;
}
.num:nth-child(8) {
  --rotation: 240deg;
  font-size: 4rem;
}

/* Num IX */
.num:nth-child(9) {
  --rotation: 270deg;
}
.num:nth-child(9) .backward_IX {
  display: inline-block;
  transform: rotate(90deg);
}

.num:nth-child(10) {
  --rotation: 300deg;
  font-size: 4rem;
}
.num:nth-child(11) {
  --rotation: 330deg;
  font-size: 4rem;
}

/* Clock hands */
.clock-hands {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 10px solid #818181;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: bottom center;
  z-index: 1000;
}
.dot {
  width: 80px;
  height: 80px;
  background-color: crimson;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3000;
}
.hours-hand {
  width: 10px;
  height: 200px;
  background-color: #ddd;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%) rotate(0deg);
  transform-origin: bottom center;
  transition: all 0.5s;
  z-index: 2000;
}
.minutes-hand {
  width: 10px;
  height: 240px;
  background-color: #ddd;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%) rotate(0deg);
  transform-origin: bottom center;
  transition: all 0.5s ease-in;
  z-index: 2000;
}
.seconds-hand {
  width: 10px;
  height: 240px;
  background-color: crimson;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%) rotate(0deg);
  transform-origin: bottom center;
  transition: all 0.5s ease-in;
  z-index: 2000;
}
